body {
    padding: 25px;
    background-color: #fff; /* Cor do fundo no modo claro */
    color: #000000; /*cor da fonte no modo claro */
    font-size: 25px;
}

.dark-mode {
    background-color: #202020; /*  Cor do fundo no modo escuro */
    color: white; /* Cor da fonte no modo escuro */
}